<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaEditDlg" widgetVar="AgendaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.EditAgendaTitle}">
            <h:form id="AgendaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <p:outputLabel value="#{agenda1.EditAgendaLabel_tipo}" for="tipo" />
                        <p:inputText id="tipo" value="#{agendaController.selected.tipo}" title="#{agenda1.EditAgendaTitle_tipo}" required="true" requiredMessage="#{agenda1.EditAgendaRequiredMessage_tipo}"/>
                        <p:outputLabel value="#{agenda1.EditAgendaLabel_duracion}" for="duracion" />
                        <p:inputText id="duracion" value="#{agendaController.selected.duracion}" title="#{agenda1.EditAgendaTitle_duracion}" required="true" requiredMessage="#{agenda1.EditAgendaRequiredMessage_duracion}"/>
                        <p:outputLabel value="#{agenda1.EditAgendaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{agendaController.selected.nombre}" title="#{agenda1.EditAgendaTitle_nombre}" required="true" requiredMessage="#{agenda1.EditAgendaRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda1.EditAgendaLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{agendaController.selected.fecha}" title="#{agenda1.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda1.EditAgendaRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{agenda1.EditAgendaLabel_hora}" for="hora" />
                        <p:calendar id="hora" pattern="HH:mm:ss" value="#{agendaController.selected.hora}" title="#{agenda1.EditAgendaTitle_hora}" required="true" requiredMessage="#{agenda1.EditAgendaRequiredMessage_hora}" showOn="button"/>
                        <p:outputLabel value="#{agenda1.EditAgendaLabel_participantes}" for="participantes" />
                        <p:inputText id="participantes" value="#{agendaController.selected.participantes}" title="#{agenda1.EditAgendaTitle_participantes}" required="true" requiredMessage="#{agenda1.EditAgendaRequiredMessage_participantes}"/>
                        <p:outputLabel value="#{agenda1.EditAgendaLabel_idLugares}" for="idLugares" />
                        <p:selectOneMenu id="idLugares" value="#{agendaController.selected.idLugares}" required="true" requiredMessage="#{agenda1.EditAgendaRequiredMessage_idLugares}">
                            <f:selectItem itemLabel="#{agenda1.SelectOneMessage}"/>
                            <f:selectItems value="#{lugaresController.items}"
                                           var="idLugaresItem"
                                           itemValue="#{idLugaresItem}"
                                           itemLabel="#{idLugaresItem.nombre}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{agendaController.update}" value="#{agenda1.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AgendaEditDialog');"/>
                    <p:commandButton value="#{agenda1.Cancel}" onclick="AgendaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
