<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpleadosEditDlg" widgetVar="EmpleadosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.EditEmpleadosTitle}">
            <h:form id="EmpleadosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empleadosController.selected != null}">
                        <p:outputLabel value="#{agenda1.EditEmpleadosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{empleadosController.selected.nombre}" title="#{agenda1.EditEmpleadosTitle_nombre}" required="true" requiredMessage="#{agenda1.EditEmpleadosRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda1.EditEmpleadosLabel_apellido}" for="apellido" />
                        <p:inputText id="apellido" value="#{empleadosController.selected.apellido}" title="#{agenda1.EditEmpleadosTitle_apellido}" required="true" requiredMessage="#{agenda1.EditEmpleadosRequiredMessage_apellido}"/>
                        <p:outputLabel value="#{agenda1.EditEmpleadosLabel_emailP}" for="emailP" />
                        <p:inputText id="emailP" value="#{empleadosController.selected.emailP}" title="#{agenda1.EditEmpleadosTitle_emailP}" required="true" requiredMessage="#{agenda1.EditEmpleadosRequiredMessage_emailP}"/>
                        <p:outputLabel value="#{agenda1.EditEmpleadosLabel_emailE}" for="emailE" />
                        <p:inputText id="emailE" value="#{empleadosController.selected.emailE}" title="#{agenda1.EditEmpleadosTitle_emailE}" required="true" requiredMessage="#{agenda1.EditEmpleadosRequiredMessage_emailE}"/>
                        <p:outputLabel value="#{agenda1.EditEmpleadosLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{empleadosController.selected.telefono}" title="#{agenda1.EditEmpleadosTitle_telefono}" required="true" requiredMessage="#{agenda1.EditEmpleadosRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{agenda1.EditEmpleadosLabel_nss}" for="nss" />
                        <p:inputText id="nss" value="#{empleadosController.selected.nss}" title="#{agenda1.EditEmpleadosTitle_nss}" required="true" requiredMessage="#{agenda1.EditEmpleadosRequiredMessage_nss}"/>
                        <p:outputLabel value="#{agenda1.EditEmpleadosLabel_idUsers}" for="idUsers" />
                        <p:selectOneMenu id="idUsers" value="#{empleadosController.selected.idUsers}" required="true" requiredMessage="#{agenda1.EditEmpleadosRequiredMessage_idUsers}">
                            <f:selectItem itemLabel="#{agenda1.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idUsersItem"
                                           itemValue="#{idUsersItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{empleadosController.update}" value="#{agenda1.Save}" update="display,:EmpleadosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EmpleadosEditDialog');"/>
                    <p:commandButton value="#{agenda1.Cancel}" onclick="EmpleadosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
