<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda1.ListEmpleadosTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EmpleadosListForm">
                <p:panel header="#{agenda1.ListEmpleadosTitle}">
                    <p:dataTable id="datalist" value="#{empleadosController.items}" var="item"
                                 selectionMode="single" selection="#{empleadosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idEmpleados}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_idEmpleados}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEmpleados}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_apellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_emailP}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailP}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_emailE}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailE}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_nss}"/>
                            </f:facet>
                            <h:outputText value="#{item.nss}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEmpleadosTitle_idUsers}"/>
                            </f:facet>
                            <h:outputText value="#{item.idUsers}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda1.Create}" actionListener="#{empleadosController.prepareCreate}" update=":EmpleadosCreateForm" oncomplete="PF('EmpleadosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda1.View}" update=":EmpleadosViewForm" oncomplete="PF('EmpleadosViewDialog').show()" disabled="#{empty empleadosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda1.Edit}" update=":EmpleadosEditForm" oncomplete="PF('EmpleadosEditDialog').show()" disabled="#{empty empleadosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda1.Delete}" actionListener="#{empleadosController.destroy}" update=":growl,datalist" disabled="#{empty empleadosController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
