<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpleadosViewDlg" widgetVar="EmpleadosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.ViewEmpleadosTitle}">
            <h:form id="EmpleadosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empleadosController.selected != null}">
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_idEmpleados}"/>
                        <h:outputText value="#{empleadosController.selected.idEmpleados}" title="#{agenda1.ViewEmpleadosTitle_idEmpleados}"/>
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_nombre}"/>
                        <h:outputText value="#{empleadosController.selected.nombre}" title="#{agenda1.ViewEmpleadosTitle_nombre}"/>
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_apellido}"/>
                        <h:outputText value="#{empleadosController.selected.apellido}" title="#{agenda1.ViewEmpleadosTitle_apellido}"/>
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_emailP}"/>
                        <h:outputText value="#{empleadosController.selected.emailP}" title="#{agenda1.ViewEmpleadosTitle_emailP}"/>
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_emailE}"/>
                        <h:outputText value="#{empleadosController.selected.emailE}" title="#{agenda1.ViewEmpleadosTitle_emailE}"/>
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_telefono}"/>
                        <h:outputText value="#{empleadosController.selected.telefono}" title="#{agenda1.ViewEmpleadosTitle_telefono}"/>
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_nss}"/>
                        <h:outputText value="#{empleadosController.selected.nss}" title="#{agenda1.ViewEmpleadosTitle_nss}"/>
                        <h:outputText value="#{agenda1.ViewEmpleadosLabel_idUsers}"/>
                        <h:outputText value="#{empleadosController.selected.idUsers}" title="#{agenda1.ViewEmpleadosTitle_idUsers}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda1.Close}" onclick="EmpleadosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
