<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosCreateDlg" widgetVar="UsuariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.CreateUsuariosTitle}">
            <h:form id="UsuariosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <p:outputLabel value="#{agenda1.CreateUsuariosLabel_nivel}" for="nivel" />
                        <p:inputText id="nivel" value="#{usuariosController.selected.nivel}" title="#{agenda1.CreateUsuariosTitle_nivel}" required="true" requiredMessage="#{agenda1.CreateUsuariosRequiredMessage_nivel}"/>
                        <p:outputLabel value="#{agenda1.CreateUsuariosLabel_user}" for="user" />
                        <p:inputText id="user" value="#{usuariosController.selected.user}" title="#{agenda1.CreateUsuariosTitle_user}" required="true" requiredMessage="#{agenda1.CreateUsuariosRequiredMessage_user}"/>
                        <p:outputLabel value="#{agenda1.CreateUsuariosLabel_password}" for="password" />
                        <p:inputText id="password" value="#{usuariosController.selected.password}" title="#{agenda1.CreateUsuariosTitle_password}" required="true" requiredMessage="#{agenda1.CreateUsuariosRequiredMessage_password}"/>
                        <p:outputLabel value="#{agenda1.CreateUsuariosLabel_tipo}" for="tipo" />
                        <p:inputText id="tipo" value="#{usuariosController.selected.tipo}" title="#{agenda1.CreateUsuariosTitle_tipo}" required="true" requiredMessage="#{agenda1.CreateUsuariosRequiredMessage_tipo}"/>
                        <p:outputLabel value="#{agenda1.CreateUsuariosLabel_estatus}" for="estatus" />
                        <p:selectBooleanCheckbox id="estatus" value="#{usuariosController.selected.estatus}" required="true" requiredMessage="#{agenda1.EditUsuariosRequiredMessage_estatus}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.create}" value="#{agenda1.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuariosCreateDialog');"/>
                    <p:commandButton value="#{agenda1.Cancel}" onclick="UsuariosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
