<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosViewDlg" widgetVar="UsuariosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.ViewUsuariosTitle}">
            <h:form id="UsuariosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuariosController.selected != null}">
                        <h:outputText value="#{agenda1.ViewUsuariosLabel_idUsuarios}"/>
                        <h:outputText value="#{usuariosController.selected.idUsuarios}" title="#{agenda1.ViewUsuariosTitle_idUsuarios}"/>
                        <h:outputText value="#{agenda1.ViewUsuariosLabel_nivel}"/>
                        <h:outputText value="#{usuariosController.selected.nivel}" title="#{agenda1.ViewUsuariosTitle_nivel}"/>
                        <h:outputText value="#{agenda1.ViewUsuariosLabel_user}"/>
                        <h:outputText value="#{usuariosController.selected.user}" title="#{agenda1.ViewUsuariosTitle_user}"/>
                        <h:outputText value="#{agenda1.ViewUsuariosLabel_password}"/>
                        <h:outputText value="#{usuariosController.selected.password}" title="#{agenda1.ViewUsuariosTitle_password}"/>
                        <h:outputText value="#{agenda1.ViewUsuariosLabel_tipo}"/>
                        <h:outputText value="#{usuariosController.selected.tipo}" title="#{agenda1.ViewUsuariosTitle_tipo}"/>
                        <h:outputText value="#{agenda1.ViewUsuariosLabel_estatus}"/>
                        <p:selectBooleanCheckbox value="#{usuariosController.selected.estatus}" disabled="true"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda1.Close}" onclick="UsuariosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
