<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{agenda1.EditEventoParticipantesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{agenda1.EditEventoParticipantesLabel_idAutoRegistro}" for="idAutoRegistro" />
                    <h:selectOneMenu id="idAutoRegistro" value="#{eventoParticipantesController.selected.idAutoRegistro}" title="#{agenda1.EditEventoParticipantesTitle_idAutoRegistro}" required="true" requiredMessage="#{agenda1.EditEventoParticipantesRequiredMessage_idAutoRegistro}">
                        <f:selectItems value="#{autoRegistroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{agenda1.EditEventoParticipantesLabel_empleadosidEmpleados}" for="empleadosidEmpleados" />
                    <h:selectOneMenu id="empleadosidEmpleados" value="#{eventoParticipantesController.selected.empleadosidEmpleados}" title="#{agenda1.EditEventoParticipantesTitle_empleadosidEmpleados}" >
                        <f:selectItems value="#{empleadosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{agenda1.EditEventoParticipantesLabel_eventoIdevento}" for="eventoIdevento" />
                    <h:selectOneMenu id="eventoIdevento" value="#{eventoParticipantesController.selected.eventoIdevento}" title="#{agenda1.EditEventoParticipantesTitle_eventoIdevento}" required="true" requiredMessage="#{agenda1.EditEventoParticipantesRequiredMessage_eventoIdevento}">
                        <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{agenda1.EditEventoParticipantesLabel_proveedoresidProveedores}" for="proveedoresidProveedores" />
                    <h:selectOneMenu id="proveedoresidProveedores" value="#{eventoParticipantesController.selected.proveedoresidProveedores}" title="#{agenda1.EditEventoParticipantesTitle_proveedoresidProveedores}" >
                        <f:selectItems value="#{proveedoresController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{eventoParticipantesController.update}" value="#{agenda1.EditEventoParticipantesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{agenda1.EditEventoParticipantesViewLink}"/>
                <br />
                <h:commandLink action="#{eventoParticipantesController.prepareList}" value="#{agenda1.EditEventoParticipantesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{agenda1.EditEventoParticipantesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
