<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{agenda1.ListEventoParticipantesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{agenda1.ListEventoParticipantesEmpty}" rendered="#{eventoParticipantesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{eventoParticipantesController.items.rowCount > 0}">
                    <h:outputText value="#{eventoParticipantesController.pagination.pageFirstItem + 1}..#{eventoParticipantesController.pagination.pageLastItem + 1}/#{eventoParticipantesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{eventoParticipantesController.previous}" value="#{agenda1.Previous} #{eventoParticipantesController.pagination.pageSize}" rendered="#{eventoParticipantesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{eventoParticipantesController.next}" value="#{agenda1.Next} #{eventoParticipantesController.pagination.pageSize}" rendered="#{eventoParticipantesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{eventoParticipantesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEventoParticipantesTitle_idParticipante}"/>
                            </f:facet>
                            <h:outputText value="#{item.idParticipante}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEventoParticipantesTitle_idAutoRegistro}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAutoRegistro}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEventoParticipantesTitle_empleadosidEmpleados}"/>
                            </f:facet>
                            <h:outputText value="#{item.empleadosidEmpleados}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEventoParticipantesTitle_eventoIdevento}"/>
                            </f:facet>
                            <h:outputText value="#{item.eventoIdevento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListEventoParticipantesTitle_proveedoresidProveedores}"/>
                            </f:facet>
                            <h:outputText value="#{item.proveedoresidProveedores}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{eventoParticipantesController.prepareView}" value="#{agenda1.ListEventoParticipantesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{eventoParticipantesController.prepareEdit}" value="#{agenda1.ListEventoParticipantesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{eventoParticipantesController.destroy}" value="#{agenda1.ListEventoParticipantesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{eventoParticipantesController.prepareCreate}" value="#{agenda1.ListEventoParticipantesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{agenda1.ListEventoParticipantesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
