<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{agenda1.ViewEventoParticipantesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{agenda1.ViewEventoParticipantesLabel_idParticipante}"/>
                    <h:outputText value="#{eventoParticipantesController.selected.idParticipante}" title="#{agenda1.ViewEventoParticipantesTitle_idParticipante}"/>
                    <h:outputText value="#{agenda1.ViewEventoParticipantesLabel_idAutoRegistro}"/>
                    <h:outputText value="#{eventoParticipantesController.selected.idAutoRegistro}" title="#{agenda1.ViewEventoParticipantesTitle_idAutoRegistro}"/>
                    <h:outputText value="#{agenda1.ViewEventoParticipantesLabel_empleadosidEmpleados}"/>
                    <h:outputText value="#{eventoParticipantesController.selected.empleadosidEmpleados}" title="#{agenda1.ViewEventoParticipantesTitle_empleadosidEmpleados}"/>
                    <h:outputText value="#{agenda1.ViewEventoParticipantesLabel_eventoIdevento}"/>
                    <h:outputText value="#{eventoParticipantesController.selected.eventoIdevento}" title="#{agenda1.ViewEventoParticipantesTitle_eventoIdevento}"/>
                    <h:outputText value="#{agenda1.ViewEventoParticipantesLabel_proveedoresidProveedores}"/>
                    <h:outputText value="#{eventoParticipantesController.selected.proveedoresidProveedores}" title="#{agenda1.ViewEventoParticipantesTitle_proveedoresidProveedores}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{eventoParticipantesController.destroyAndView}" value="#{agenda1.ViewEventoParticipantesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{agenda1.ViewEventoParticipantesEditLink}"/>
                <br />
                <h:commandLink action="#{eventoParticipantesController.prepareCreate}" value="#{agenda1.ViewEventoParticipantesCreateLink}" />
                <br />
                <h:commandLink action="#{eventoParticipantesController.prepareList}" value="#{agenda1.ViewEventoParticipantesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{agenda1.ViewEventoParticipantesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
