<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{agenda1.CreateAutoRegistroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_idAutoRegistro}" for="idAutoRegistro" />
                    <h:inputText id="idAutoRegistro" value="#{autoRegistroController.selected.idAutoRegistro}" title="#{agenda1.CreateAutoRegistroTitle_idAutoRegistro}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_idAutoRegistro}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{autoRegistroController.selected.nombre}" title="#{agenda1.CreateAutoRegistroTitle_nombre}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_apellido}" for="apellido" />
                    <h:inputText id="apellido" value="#{autoRegistroController.selected.apellido}" title="#{agenda1.CreateAutoRegistroTitle_apellido}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_apellido}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_emailP}" for="emailP" />
                    <h:inputText id="emailP" value="#{autoRegistroController.selected.emailP}" title="#{agenda1.CreateAutoRegistroTitle_emailP}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_emailP}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_emailE}" for="emailE" />
                    <h:inputText id="emailE" value="#{autoRegistroController.selected.emailE}" title="#{agenda1.CreateAutoRegistroTitle_emailE}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_emailE}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_telefonoP}" for="telefonoP" />
                    <h:inputText id="telefonoP" value="#{autoRegistroController.selected.telefonoP}" title="#{agenda1.CreateAutoRegistroTitle_telefonoP}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_telefonoP}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_nss}" for="nss" />
                    <h:inputText id="nss" value="#{autoRegistroController.selected.nss}" title="#{agenda1.CreateAutoRegistroTitle_nss}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_nss}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_empresa}" for="empresa" />
                    <h:inputText id="empresa" value="#{autoRegistroController.selected.empresa}" title="#{agenda1.CreateAutoRegistroTitle_empresa}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_empresa}"/>
                    <h:outputLabel value="#{agenda1.CreateAutoRegistroLabel_telefonoE}" for="telefonoE" />
                    <h:inputText id="telefonoE" value="#{autoRegistroController.selected.telefonoE}" title="#{agenda1.CreateAutoRegistroTitle_telefonoE}" required="true" requiredMessage="#{agenda1.CreateAutoRegistroRequiredMessage_telefonoE}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{autoRegistroController.create}" value="#{agenda1.CreateAutoRegistroSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{autoRegistroController.prepareList}" value="#{agenda1.CreateAutoRegistroShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{agenda1.CreateAutoRegistroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
