<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutoRegistroViewDlg" widgetVar="AutoRegistroViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.ViewAutoRegistroTitle}">
            <h:form id="AutoRegistroViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autoRegistroController.selected != null}">
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_idAutoRegistro}"/>
                        <h:outputText value="#{autoRegistroController.selected.idAutoRegistro}" title="#{agenda1.ViewAutoRegistroTitle_idAutoRegistro}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_nombre}"/>
                        <h:outputText value="#{autoRegistroController.selected.nombre}" title="#{agenda1.ViewAutoRegistroTitle_nombre}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_apellido}"/>
                        <h:outputText value="#{autoRegistroController.selected.apellido}" title="#{agenda1.ViewAutoRegistroTitle_apellido}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_emailP}"/>
                        <h:outputText value="#{autoRegistroController.selected.emailP}" title="#{agenda1.ViewAutoRegistroTitle_emailP}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_emailE}"/>
                        <h:outputText value="#{autoRegistroController.selected.emailE}" title="#{agenda1.ViewAutoRegistroTitle_emailE}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_telefonoP}"/>
                        <h:outputText value="#{autoRegistroController.selected.telefonoP}" title="#{agenda1.ViewAutoRegistroTitle_telefonoP}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_nss}"/>
                        <h:outputText value="#{autoRegistroController.selected.nss}" title="#{agenda1.ViewAutoRegistroTitle_nss}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_empresa}"/>
                        <h:outputText value="#{autoRegistroController.selected.empresa}" title="#{agenda1.ViewAutoRegistroTitle_empresa}"/>
                        <h:outputText value="#{agenda1.ViewAutoRegistroLabel_telefonoE}"/>
                        <h:outputText value="#{autoRegistroController.selected.telefonoE}" title="#{agenda1.ViewAutoRegistroTitle_telefonoE}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda1.Close}" onclick="AutoRegistroViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
