<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{agenda1.CreateReunionProveedoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{agenda1.CreateReunionProveedoresLabel_idProveedores}" for="idProveedores" />
                    <h:selectOneMenu id="idProveedores" value="#{reunionProveedoresController.selected.idProveedores}" title="#{agenda1.CreateReunionProveedoresTitle_idProveedores}" required="true" requiredMessage="#{agenda1.CreateReunionProveedoresRequiredMessage_idProveedores}">
                        <f:selectItems value="#{proveedoresController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{agenda1.CreateReunionProveedoresLabel_reunionIdreunion}" for="reunionIdreunion" />
                    <h:selectOneMenu id="reunionIdreunion" value="#{reunionProveedoresController.selected.reunionIdreunion}" title="#{agenda1.CreateReunionProveedoresTitle_reunionIdreunion}" required="true" requiredMessage="#{agenda1.CreateReunionProveedoresRequiredMessage_reunionIdreunion}">
                        <f:selectItems value="#{reunionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reunionProveedoresController.create}" value="#{agenda1.CreateReunionProveedoresSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{reunionProveedoresController.prepareList}" value="#{agenda1.CreateReunionProveedoresShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{agenda1.CreateReunionProveedoresIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
