<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda1.ListLugaresTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="LugaresListForm">
                <p:panel header="#{agenda1.ListLugaresTitle}">
                    <p:dataTable id="datalist" value="#{lugaresController.items}" var="item"
                                 selectionMode="single" selection="#{lugaresController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idLugares}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListLugaresTitle_idLugares}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLugares}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListLugaresTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListLugaresTitle_capcidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.capcidad}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda1.Create}" actionListener="#{lugaresController.prepareCreate}" update=":LugaresCreateForm" oncomplete="PF('LugaresCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda1.View}" update=":LugaresViewForm" oncomplete="PF('LugaresViewDialog').show()" disabled="#{empty lugaresController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda1.Edit}" update=":LugaresEditForm" oncomplete="PF('LugaresEditDialog').show()" disabled="#{empty lugaresController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda1.Delete}" actionListener="#{lugaresController.destroy}" update=":growl,datalist" disabled="#{empty lugaresController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
