<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventoCreateDlg" widgetVar="EventoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.CreateEventoTitle}">
            <h:form id="EventoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventoController.selected != null}">
                        <p:outputLabel value="#{agenda1.CreateEventoLabel_fechaInicioRegisto}" for="fechaInicioRegisto" />
                        <p:calendar id="fechaInicioRegisto" pattern="MM/dd/yyyy" value="#{eventoController.selected.fechaInicioRegisto}" title="#{agenda1.EditEventoTitle_fechaInicioRegisto}" required="true" requiredMessage="#{agenda1.EditEventoRequiredMessage_fechaInicioRegisto}" showOn="button"/>
                        <p:outputLabel value="#{agenda1.CreateEventoLabel_agendaidAgenda}" for="agendaidAgenda" />
                        <p:selectOneMenu id="agendaidAgenda" value="#{eventoController.selected.agendaidAgenda}" required="true" requiredMessage="#{agenda1.EditEventoRequiredMessage_agendaidAgenda}">
                            <f:selectItems value="#{agendaController.itemsAvailableSelectOne}"
                                           var="agendaidAgendaItem"
                                           itemValue="#{agendaidAgendaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{eventoController.create}" value="#{agenda1.Save}" update="display,:EventoListForm:datalist,:growl" oncomplete="handleSubmit(args,'EventoCreateDialog');"/>
                    <p:commandButton value="#{agenda1.Cancel}" onclick="EventoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
