<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{agenda1.CreateReunionEmpleadosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{agenda1.CreateReunionEmpleadosLabel_empleadosidEmpleados}" for="empleadosidEmpleados" />
                    <h:selectOneMenu id="empleadosidEmpleados" value="#{reunionEmpleadosController.selected.empleadosidEmpleados}" title="#{agenda1.CreateReunionEmpleadosTitle_empleadosidEmpleados}" required="true" requiredMessage="#{agenda1.CreateReunionEmpleadosRequiredMessage_empleadosidEmpleados}">
                        <f:selectItems value="#{empleadosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{agenda1.CreateReunionEmpleadosLabel_reunionIdreunion}" for="reunionIdreunion" />
                    <h:selectOneMenu id="reunionIdreunion" value="#{reunionEmpleadosController.selected.reunionIdreunion}" title="#{agenda1.CreateReunionEmpleadosTitle_reunionIdreunion}" required="true" requiredMessage="#{agenda1.CreateReunionEmpleadosRequiredMessage_reunionIdreunion}">
                        <f:selectItems value="#{reunionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reunionEmpleadosController.create}" value="#{agenda1.CreateReunionEmpleadosSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{reunionEmpleadosController.prepareList}" value="#{agenda1.CreateReunionEmpleadosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{agenda1.CreateReunionEmpleadosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
