<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionCreateDlg" widgetVar="ReunionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.CreateReunionTitle}">
            <h:form id="ReunionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionController.selected != null}">
                        <p:outputLabel value="#{agenda1.CreateReunionLabel_agendaidAgenda}" for="agendaidAgenda" />
                        <p:selectOneMenu id="agendaidAgenda" value="#{reunionController.selected.agendaidAgenda}" required="true" requiredMessage="#{agenda1.EditReunionRequiredMessage_agendaidAgenda}">
                            <f:selectItems value="#{agendaController.itemsAvailableSelectOne}"
                                           var="agendaidAgendaItem"
                                           itemValue="#{agendaidAgendaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionController.create}" value="#{agenda1.Save}" update="display,:ReunionListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReunionCreateDialog');"/>
                    <p:commandButton value="#{agenda1.Cancel}" onclick="ReunionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
