<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionViewDlg" widgetVar="ReunionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.ViewReunionTitle}">
            <h:form id="ReunionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionController.selected != null}">
                        <h:outputText value="#{agenda1.ViewReunionLabel_idreunion}"/>
                        <h:outputText value="#{reunionController.selected.idreunion}" title="#{agenda1.ViewReunionTitle_idreunion}"/>
                        <h:outputText value="#{agenda1.ViewReunionLabel_agendaidAgenda}"/>
                        <h:outputText value="#{reunionController.selected.agendaidAgenda}" title="#{agenda1.ViewReunionTitle_agendaidAgenda}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda1.Close}" onclick="ReunionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
