<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda1.ListProveedoresTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ProveedoresListForm">
                <p:panel header="#{agenda1.ListProveedoresTitle}">
                    <p:dataTable id="datalist" value="#{proveedoresController.items}" var="item"
                                 selectionMode="single" selection="#{proveedoresController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idProveedores}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_idProveedores}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProveedores}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_nombreContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_telefonoContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefonoContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_telefonoEmpresa}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefonoEmpresa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_emailContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_domicilio}"/>
                            </f:facet>
                            <h:outputText value="#{item.domicilio}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda1.ListProveedoresTitle_idUsuarios}"/>
                            </f:facet>
                            <h:outputText value="#{item.idUsuarios}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda1.Create}" actionListener="#{proveedoresController.prepareCreate}" update=":ProveedoresCreateForm" oncomplete="PF('ProveedoresCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda1.View}" update=":ProveedoresViewForm" oncomplete="PF('ProveedoresViewDialog').show()" disabled="#{empty proveedoresController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda1.Edit}" update=":ProveedoresEditForm" oncomplete="PF('ProveedoresEditDialog').show()" disabled="#{empty proveedoresController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda1.Delete}" actionListener="#{proveedoresController.destroy}" update=":growl,datalist" disabled="#{empty proveedoresController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
