<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresViewDlg" widgetVar="ProveedoresViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda1.ViewProveedoresTitle}">
            <h:form id="ProveedoresViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_idProveedores}"/>
                        <h:outputText value="#{proveedoresController.selected.idProveedores}" title="#{agenda1.ViewProveedoresTitle_idProveedores}"/>
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_nombre}"/>
                        <h:outputText value="#{proveedoresController.selected.nombre}" title="#{agenda1.ViewProveedoresTitle_nombre}"/>
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_nombreContacto}"/>
                        <h:outputText value="#{proveedoresController.selected.nombreContacto}" title="#{agenda1.ViewProveedoresTitle_nombreContacto}"/>
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_telefonoContacto}"/>
                        <h:outputText value="#{proveedoresController.selected.telefonoContacto}" title="#{agenda1.ViewProveedoresTitle_telefonoContacto}"/>
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_telefonoEmpresa}"/>
                        <h:outputText value="#{proveedoresController.selected.telefonoEmpresa}" title="#{agenda1.ViewProveedoresTitle_telefonoEmpresa}"/>
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_emailContacto}"/>
                        <h:outputText value="#{proveedoresController.selected.emailContacto}" title="#{agenda1.ViewProveedoresTitle_emailContacto}"/>
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_domicilio}"/>
                        <h:outputText value="#{proveedoresController.selected.domicilio}" title="#{agenda1.ViewProveedoresTitle_domicilio}"/>
                        <h:outputText value="#{agenda1.ViewProveedoresLabel_idUsuarios}"/>
                        <h:outputText value="#{proveedoresController.selected.idUsuarios}" title="#{agenda1.ViewProveedoresTitle_idUsuarios}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda1.Close}" onclick="ProveedoresViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
