<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/agenda/List" value="Ver agenda"/>
        <br />
        <h:link outcome="/autoRegistro/List" value="Ver Auto Registros"/>
        <br />
        <h:link outcome="/empleados/List" value="Ver Empleados"/>
        <br />
        <h:link outcome="/evento/List" value="Ver Eventos"/>
        <br />
        <h:link outcome="/lugares/List" value="Ver Lugares"/>
        <br />
        <h:link outcome="/proveedores/List" value="Ver Proveedores"/>
        <br />
        <h:link outcome="/reunion/List" value="Ver Reuniones"/>
        <br />
        <h:link outcome="/usuarios/List" value="Ver Usuarios"/>
        <br />
        <h:link outcome="/eventoParticipantes/Create" value="Agrega Participantes a Un evento"/>
        <br />
        <h:link outcome="/reunionEmpleados/Create" value="Agrega Empleados a Una Reunion"/>
        <br />
        <h:link outcome="/reunionProveedores/Create" value="Agrega Proveedores a Una Reunion"/>
        <br />
        <h:link outcome="/autoRegistro/Create2" value="Nuevo Auto Registro"/>
    </h:body>














</html>

